.leftSide {
	display: flex;
	justify-content: left;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.rightSide {
	padding-right: 15px;
	display: flex;
	justify-content: right;
}

body {
	overflow: hidden; /* Hide scrollbars */
}
